<div class="body">
            <!-- Header -->
    <div class="header">
        <div class="container">
            <div class="header-logo">
                <div class="logo">
                    <a class="logo-text" href="Main.html">FORGAMER</a>
                </div>
            </div>
            <div class="nav-bar-center">
                <nav class="header-center-content">
                    <a href="Main.html">Trang chủ</a>
                </nav>
            </div>
            <div class="nav-bar-right">
                <div class="header-right">
                    <nav class="header-right-content">
                        <a href="#">
                            <img title="Đăng nhập" src="https://img.icons8.com/?size=100&id=9ZgJRZwEc5Yj&format=png&color=000000" alt="" height="30px" width="30px">
                        </a>
                        <a href="Search Page.html">
                            <img title="Tìm kiếm" src="https://img.icons8.com/?size=100&id=7695&format=png&color=000000" style="transform: scaleX(-1);" alt="" height="30px" width="30px">
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>    
    